.default {
	font-family: Lucida Grande;
	font-size: 13px;
}

.Supermedia_Bottoni {
	font-family: Arial;
	font-size: 10px;
	font-weight: bold;
}

.Supermedia_Campi_12 {
	font-family: Arial;
	font-size: 11px;
	vertical-align: middle;
}

.Supermedia_Label {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	vertical-align: middle;
}

* {
	font-family: Helvetica Neue;
	font-size: 11px;
	vertical-align: middle;
}

groupBox {
	font-weight: bold;
}

.listboxHeader {
	text-align: center;
}

.notePiePagina {
	font-weight: bold;
	font-size: 7px;
}
