.default {
	font-family: Lucida Grande;
	font-size: 13px;
}

.Supermedia_Bottoni {
	font-family: Arial;
	font-size: 10px;
	font-weight: bold;
}

.Supermedia_Campi_12 {
	font-family: Arial;
	font-size: 11px;
}

.Supermedia_Label {
	font-family: Arial;
	font-size: 10px;
	font-weight: bold;
}

