.default {
	font-family: Segoe UI;
	font-size: 12px;
}

.Supermedia_Bottoni {
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
}

.Supermedia_Campi_12 {
	font-family: Verdana;
	font-size: 10px;
}

.Supermedia_Label {
	font-family: Verdana;
	font-size: 10px;
}

